<div class="card">
  <div class="content">
    <div class="header">50 000 €</div>
    <div class="meta">Montant à débourser</div>
    <div class="description">
      Jenny is a student studying Media Management at the New School
    </div>
  </div>
</div>