<div class="card">
  <div class="content">
    <div class="header"><%= statistics.figure %> €</div>
    <div class="meta"><%= statistics.name %></div>
    <div class="description">
      <%= statistics.description %>
    </div>
  </div>
</div>