<% # encoding: utf-8   %>


<div class="ui grid">
  <div class="seven wide column"></div>
  <div class="independentElement nine wide column">
    <h1 class="customTitle"><%= t('menu.loans') %></h1>
    <a class="ui button teal" href="<%= new_loan_path %>"><i class="ui icon add"></i> <%= t('add') %> </a>
  </div>
</div>


<div class="ui grid">
  <div class="two wide column">
  </div>
  <div class="ten wide column">
    <div class="ui items">
      <%- @loans.each do |loan| %>
          <%= render 'loans/list_element', :loan => loan %>
      <%- end %>
    </div>
  </div>
  <div class="two wide column">
  </div>
  <div class="two wide column">
  </div>
</div>



