
<div class="item loan_template_step<%= step.id %>">

  <!--<img class="ui avatar image" src="/images/avatar/small/tom.jpg">-->
  <div class="content">
    <div class="header"><%= step.step_type.label %> of <%= step.amount %></div>
    (after <%= step.months_after_previous_milestone %> month)
  </div>
</div>