/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require flatpickr/dist/flatpickr
 */

@import "semantic-ui";


$grey: #DADADA;
$dark_purple: #342936;
$slight_dark_grey: rgba(56, 57, 59, 0.6);
$very_dark_purple: #100729;
$light_contrast_with_dark_purple: #1F0829;
$gold: gold;
$light: white;
$variation: teal;


.dark_purple{
  color: $dark_purple;
}

.registrationContainer {
  background-color: $grey !important;
}

.normalContainer{
  background-color: $very_dark_purple !important;
}

.darkMenu{
  background-color: $very_dark_purple !important;
}

.darkDropDownMenu{
  background-color: $light_contrast_with_dark_purple !important;
}

.contrastMenuElement{
  background-color: $gold !important;
}

.left_space{
  margin-left: 5px;
}

.customTitle{
  margin-bottom: 1%;
  color: $gold;
}

.centeredTitle{
  text-align: center;
  margin-bottom: 1%;
  color: $gold;
}

.independentElement{
  margin-bottom: 1%;
}

.lightMenuElement{
  color: $light !important;
}

.ui.divided.items > .item {
  border-top: 1px solid $slight_dark_grey;
  margin: 0em;
  padding: 1em 0em;
}


.light_form{
  color: $light !important;
}
.light_form > .ui{
  color: $light !important;
}
.light_form > .field > label{
  color: $light !important;
}
.light_form > .fields > .field > label{
  color: $light !important;
}
.light_form > .fields > .field > .field > label{
  color: $light !important;
}


.variation_form{
  color: $variation !important;
}

.variation_form > .field > label{
  color: $variation !important;
}
.variation_form > .fields > .field > label{
  color: $variation !important;
}
.variation_form > .fields > .field > .field > label{
  color: $variation !important;
}



.light_item > .content > .header{
  color: $light !important;
}

.light_item > .content > .meta{
  color: $light !important;
}

.light_item > .content > .description{
  color: $light !important;
}

.light_item > .content > .extra{
  color: $light !important;
}

.separated_item{
  margin-bottom: 10% !important;
}

.small_pictures_for_lists{
  width: 25% !important;
}

.very_small_pictures_for_lists{
  width: 10% !important;
}

/* a label that lets other content on the same line */
.friendly_label{
  display: inline !important;
}

.space_block{
  height: 10px;
}

.bigHeader{
  font-size: 1.5em !important;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}

.centeredElement{
  margin: auto;
}

.hiddenElement{
  display: none
}