/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/datepicker
 *= require flatpickr/dist/flatpickr
 */

@import "semantic-ui";


$grey: #DADADA;
$dark_purple: #342936;
$very_dark_purple: #100729;
$light_contrast_with_dark_purple: #1F0829;
$gold: gold;
$light: white;


.dark_purple{
  color: $dark_purple;
}

.registrationContainer {
  background-color: $grey !important;
}

.normalContainer{
  background-color: $very_dark_purple !important;
}

.darkMenu{
  background-color: $very_dark_purple !important;
}

.darkDropDownMenu{
  background-color: $light_contrast_with_dark_purple !important;
}

.contrastMenuElement{
  background-color: $gold !important;
}

.centeredTitle{
  text-align: center;
  margin-bottom: 1%;
  color: $gold;
}

.independentElement{
  margin-bottom: 1%;
}

.lightMenuElement{
  color: $light !important;
}

.light_form{
  color: $light !important;
}
.light_form > .ui{
  color: $light !important;
}
.light_form > .field > label{
  color: $light !important;
}
.light_form > .fields > .field > label{
  color: $light !important;
}

.light_form > .fields > .field > .field > label{
  color: $light !important;
}

.light_item > .content > .header{
  color: $light !important;
}

.light_item > .content > .meta{
  color: $light !important;
}

.light_item > .content > .description{
  color: $light !important;
}

.light_item > .content > .extra{
  color: $light !important;
}


.medium_pictures_for_lists{
  //width: 70% !important;
}