// Place all the styles related to the borrowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.borrower_loan_div{
  margin-top: 10px;
}

.borrower_loan_link{
  font-size: 1.2em;
  font-weight: bold;
}