// Place all the styles related to the LoanTemplates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#current_steps_container{
  margin-bottom: 15px;
  margin-top: 5px;
}
//.removeStep{
// display: none !important;
//}
//.removeStep:hover{
//  display: inline-block !important;
//}

.noSteps{
  margin-top: 15px;
}

.stepRemainingNumber{
  color: teal;
}